<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000676228056-napp2t0h57gcu8fv4oflknt1khftq69q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000676228056-napp2t0h57gcu8fv4oflknt1khftq69q</string>
	<key>API_KEY</key>
	<string>AIzaSyB3NyaeVHmrN2mprVikBokYt3FihrplnC8</string>
	<key>GCM_SENDER_ID</key>
	<string>1000676228056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myDiary</string>
	<key>PROJECT_ID</key>
	<string>my-diary-59119</string>
	<key>STORAGE_BUCKET</key>
	<string>my-diary-59119.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000676228056:ios:2d7c89976a1c4cd43b50ad</string>
</dict>
</plist>